[core]
	excludesfile = ~/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
	# パーミッションの変更を無視する.
	filemode = false
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
# from http://qiita.com/shuhei/items/6a18d968051378d7ac1a
[diff "openxml"]
	textconv = ~/bin/unopenxml
[diff "utf16"]
	textconv = iconv -f utf-16 -t utf-8

